
<div class="bigcontainer">

    <div class="row">
        <div class="col">
        <h1>Dream Team</h1>
        <br>
        <p>
            I don't love idea of 3 superstars coming together to form a dream team,<br><br>
            I'd rather teams are built more organically, <br><br>
            just as a fan it's more interesting to see.<br><br>
        </p>
         <a href="https://en.wikipedia.org/wiki/Fantasy_sport" target="_blank"><button  type="button">Explore</button></a> 
        </div>
        <div class="col">
          <div class="card card1">
            <h5>Create Team</h5>
            <br><br><br><br><br><br>
            <p>
                Build a team filled with bosses !!
            </p>
            <button type="button" (click)="choosegame()">Create</button>
         </div>
         <div class="card card2" routerLinkActive="active">
            <h5>View Team</h5>
            <br><br><br><br><br><br>
            <p>
                May almighty help u to get ur team win !!
            </p>
            <a href="/viewteams" routerLink="/viewteams"><button type="button" target="/viewteams"> View</button></a>
         </div>
        </div>
    </div>
</div>