<div class="bigcontainer">
    <br><br>

        <h2 style="color: rgb(212, 229, 194);"><b>Choose a game to create your Dream Team!!</b></h2>

        <div class="centerme">
            <div class="col">
                <div class="card card1">
                <h5><b>Cricket</b></h5>
                <br><br><br><br><br><br><br><br><br><br>
                <button type="button" (click)="createCricketTeam()">Cricket</button>
                </div>
                <div class="card card2">
                <h5><b>Football</b></h5>
                <br><br><br><br><br><br><br><br><br><br>
                <button type="button" (click)="createFootballTeam()">Football</button>
                </div>
            </div>
        </div>
</div>

